<mat-toolbar color="primary">

  <span class="logo">
    SupportOps Solutions
  </span>

  <span class="spacer"></span>

   <a mat-button routerLink="/dashboard">Dashboard</a>
  <a mat-button routerLink="/">Home</a>

  <a mat-button routerLink="/services">
    Services
  </a>

  <a mat-button routerLink="/about">
    About
  </a>

  <a mat-button routerLink="/contact">
    Contact
  </a>

  <button
      mat-raised-button
      color="accent">

      Free Consultation

  </button>

</mat-toolbar>
